@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main {
    padding: 1rem;
}

.promptOuter {
    display: flex;
}

.prompt {
    display: flex;
    padding: 5rem 0;
    font-size: larger;
    margin: 0 auto;
}

.prompt h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.prompt h4 {
    font-size: 2rem;
    font-weight: normal;
}

.prompt img {
    filter: invert(1);
    margin-right: 5rem;
}

.bar {
    color: var(--background);
    width: 100%;
    display: flex;
}

.bar .playing {
    width: 500px;
    margin: 0 1rem;
    background: var(--light);
    border-radius: 2.5px;
    display: grid;
    padding: 0.5rem;
}

.bar .playing .info {
    margin: auto 0;
    display: flex;
}

.playing .info .image {
    width: 50px;
    height: 50px;
    margin: auto 0;
}

.playing .info .image img {
    border-radius: 10px;
}

.playing .info .meta {
    margin: auto 0.75rem;
}

.bar .search {
    width: 100%;
    display: flex;
    position: relative;
}

.bar .search input {
    height: 100%;
    width: 100%;
    background: var(--light);
    border: 0;
    outline: 0;
    padding: 0.75rem 1rem;
    border-radius: 2.5px;
    font-size: 1.5em;
}

.bar .search .clear {
    position: absolute;
    right: 1rem;
    display: flex;
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
}

.bar .search .clear img {
    margin: auto;
}

.bar .scan {
    margin-bottom: -2px;
}

.bar .scan img {
    border-radius: 2.5px;
}

.track {
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.track:hover {
    background: rgba(255, 255, 255, 0.25);
}

.track .image {
    height: 75px;
    width: 75px;
    margin: auto 0;
}

.track .image img {
    border-radius: 10px;
}

.track .info {
    width: 100%;
    margin: auto 1rem;
}

.track .info > h3 {
    margin-bottom: 0.5rem;
}

.track .add {
    margin: auto 1rem;
    filter: invert(1);
    background: url("/plus-solid.svg");
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}

.track.queueing {
    opacity: 0.75;
}

.track.queueing .add {
    background: url("/circle-notch-solid.svg");
    background-size: 100% 100%;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.track.success {
    background: #1db954;
}

.track.success .add {
    background: url("/check-solid.svg");
    background-size: 100% 100%;
}

.track.error .add {
    background: url("/xmark-solid.svg");
    background-size: 100% 100%;
}

@media (max-width: 500px) {
    .bar {
        display: block;
    }

    .bar > * {
        margin-bottom: 0.75rem !important;
        margin-left: 0 !important;
        width: 100% !important;
    }

    .prompt img,
    .bar .scan {
        display: none;
    }
}
